div#map {
    min-height:800px;
    margin:0px 50px;
    width:1000px;
}

.centerBtn, #centerForm {
    display:flex;
    justify-content: center;
}

/* temp fix */
.aboutPageFooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
}


html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

/*
body {
    background-color: lightblue;
}
*/

#card {
    border:1px solid black;
    margin:50px;
    width:700px;
}

#flex {
    display:flex;
    flex-direction: row;
}

html {
    scroll-behavior: smooth;
}

.social-networks {
    background-color: #343a40!important;
    margin-bottom:0px;
    color:white;
    font-size:160%;
}


.dreamDestination {
    color: inherit;
}

img {
    width: 300px;
    height: 200px;
}

h1, h3, p, #selectPlace {
    text-align: center;
}

/*
#contactForm {
    display: none;
}
*/

#textareaSize {
    width:800px;
}

.centerLastForm {
    display: flex;
    justify-content: center;
}

p {
    margin:40px;
}

h1 {
    margin:10px;
}

.social-networks li {
  display: inline;
}

.social-networks {
    text-align: center;
    border-top:1px solid black;
}

@media screen and (max-width: 576px) {
  .social-networks {
    font-size: unset;
  }
}